NODE_ENV=development
DATABASE_URL="postgresql://user:password@localhost:5432/presencex?schema=public"
PORT=3000

JWT_SECRET="change-me-to-a-long-random-string"
JWT_EXPIRES_IN="1d"

SUPERADMIN_NAME="Super Admin"
SUPERADMIN_EMAIL="superadmin@presencex.dev"
SUPERADMIN_PASSWORD="sp@2026!"
